body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
header{
    background-color: #000218;
    width: auto;
    height: 80px;
}
#marvelLogo{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 180PX;
}
.container-fluid{
    background-color: #000218;
    width: auto;
    height: 600px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    padding: 50px;
}
/**section 1**/
.row{
    width: 400px;
    height: 300px;
    padding: 30px;
    margin-left: 100px;

}

.titulo1{
    color:#FFFFFF;
    line-height: 2px;
    font-size: 40px;
    font-family: montserrat,sans-serif;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
h4{
    color:#FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}
#shop{
    color: #FFFFFF;
    background-color: #E74040;
    border-radius: 5px;
    gap: 10px;
    width: 119px;
    height: 52px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
#card{
    background-color: #000218;
    color: #FFFFFF;
    width: Hug (167px)px;
    height: Hug (52px)px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #E74040
}
/**section 2**/
.hero-cover-1{
    width: 600px;
    height: 300px;
    padding: 20px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
}
#cosmos{
    width: 600px;
    height: 300px;
    opacity: 0.4px;
}
#guante{
    width: 150px;
    height: 300px;
    margin-left: -350px;
    margin-top:-20px;
    opacity: 0px;
}
#ellipse{
    width: 200px;
height: 10px;
margin-left: -170px;
margin-top: 270px;
opacity: 0px;
}

.container{
    background: #CDCDD233;
    width: auto;
    height: 700px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
#segundario{
    width: auto;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.cuadrados{
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    margin: 20px;
    padding: 20px;

}
#tituto2{
    margin-left: 20px;
    font-size: 50px;
    width: 500px;
}
#contenedorCuadrados{
    display: flex;

}
h5{
    font-size: 15px;
}
hr{
    color: #E74040;
    width: 40px;
    margin-left: -2px;
    size: 7px;
}
.imagenHeroes{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.parrafosHeroes{
    text-align: justify;
}
.stats-1{
    background: #000000;
    margin-top: 0;
    width: auto;
    height: 600px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
}

#terciario{
    width: auto;
    height: 500px;
    margin-top: 130px;
    text-align: center;

}
h1{
    font-size: 60px;
    line-height: 10px;
}
.imagenlogos{
    margin: 10px;
}
#titulo3{
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 30px;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    letter-spacing: -0.0825em;
}
#footer{
    background: #323030;
    color:#FFFFFF;
    width: auto;
    height: 90px;
    justify-content: center;
    display: flex;
}
#cuarto{
    display: flex;
    width: auto;
    margin-top: 10px;

}
#parrafoFooter{
    width: 500px;
    margin-top: 17px;
}
#logosFooter{
    width: 500px;
    text-align: right;
    margin-top: 20px;
}
.logosfooter{
    margin: 7px;
}